.main__container{
    width: 40vw;
    margin: auto;
    margin-top: 2rem;
}

#container__nombre{
    display: flex;
    flex-direction: column;
}

#container__asunto{
    display: flex;
    flex-direction: column;
}

#container__mensaje{
    display: flex;
    flex-direction: column;
}

.paleta-colores{
    display: flex;
    flex-direction: column;
}

